<%= form_for(@port) do |f| %>
    <% if @port.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@port.errors.count, "error") %> prohibited this port from being saved:</h2>

          <ul>
            <% @port.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>


    <div class="field">
      <%= f.label :switch_id %><br />
      <%= f.collection_select(:switch_id, Switch.all, :id,:name) %>
    </div>
    <!--
    <div class="field">
      <%= f.label :status %><br />
      <%= f.text_field :status %>
    </div>  using
    -->
    <div class="field">
      <%= f.label "Port Mode" %><br>
      <%= f.radio_button(:mode, "access") %>
      <%= f.label(:mode, "access") %>
      <%= f.radio_button(:mode, "trunk") %>
      <%= f.label(:mode, "trunk") %>
    </div>
    <div class="field">
      <%= f.label :vlans %><br />
      <%= f.text_field :vlans, :placeholder => "Ex. 1,2,3,4,50-100" %>
    </div>
    <div class="field">
      <%= f.label "Native VLAN" %><br />
      <%= f.text_field :nativevlan %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
