<p id="notice"><%= notice %></p>

<p>
  <b>Interface:</b>
  <%= @port.interface %>
</p>

<p>
  <b>Switch:</b>
  <%= @port.switch_id %>
</p>

<p>
  <b>Status:</b>
  <%= @port.status %>
</p>


<%= link_to 'Edit', edit_port_path(@port) %> |
<%= link_to 'Back', ports_path %>
